/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-07-08 09:46:16
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-07-24 18:13:02
 */
.c-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    padding: 5%;
}

.c-posts__item {
    /* flex-grow: 1; */
    /* padding-bottom: 2em; */
}

.c-posts__item:first-child {
    flex-grow: 2;
}

@media all and (min-width: 600px) {
    .c-posts__item {
        flex-basis: 50%;
        padding-right: 5%;
    }

    .c-posts__item:first-child {
        flex-basis: 100%;
    }
}

@media all and (min-width: 1000px) {
    .c-posts__item {
        flex-basis: 33%;
    }

    .c-posts__item:first-child {
        flex-basis: 66%;
    }
}

@media all and (min-width: 1400px) {
    .c-posts__item {
        flex-basis: 25%;
    }

    .c-posts__item:first-child {
        flex-basis: 50%;
    }
}

/* Other Non-Flexbox Related Styles */
.c-header,
.c-footer {
    background: #EDD382;
    text-align: center;
    padding: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.6em;
}

.c-header h1,
.c-header h2,
.c-header p,
.c-footer h1,
.c-footer h2,
.c-footer p {
    max-width: 40em;
    margin: 0 auto;
}

.c-header h1:not(:last-child),
.c-header h2:not(:last-child),
.c-header p:not(:last-child),
.c-footer h1:not(:last-child),
.c-footer h2:not(:last-child),
.c-footer p:not(:last-child) {
    margin-bottom: 1em;
}

h1 {
    font-size: calc(130% + 1vw);
    font-weight: normal;
}