/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-08-15 18:01:10
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-08-28 14:06:01
 */
input:invalid:not(:placeholder-shown) {
  border: 2px solid red !important;
}

input:invalid:not(:placeholder-shown) + [data-validation-text] {
  color: red !important;
  display: block;
}

[data-validation-text] {
  display: none;
}

body,
html {
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

form {
  width: 400px;
  margin: 50px auto 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #cecece;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #cecece;
}

label {
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  color: #888;
}

span {
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

h1 {
  font-size: 18px;
  font-family: sans-serif;
}
