/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-07-17 10:45:06
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-07-17 10:47:28
 */
body {
    font-family: "Roboto", sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

a,
p {
    color: #126db5;
    text-decoration: none;
}

a {
    font-weight: bold;
}

.row {
    display: flex;
    padding-left: 150px;
    float: left;
    flex-wrap: wrap;
    height: 100vh;
}

.bordered-box {
    color: white;
    border: 1px solid #126db5;
    border-radius: 4px;
    padding: 7px;
    margin: 6px;
}

.column-gray {
    background: #fff;
}

.column {
    flex: 1;
    flex-direction: column;
}

.column-double {
    flex-direction: column;
    flex: 2;
}

.side {
    flex: 0.3;
}

.centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.personalized-input {
    font-size: 12pt;
    min-width: 200px;
    max-width: 350px;
    width: 90%;
    padding-top: 10px;
    margin: 5px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px solid #126db5;
    border-left: transparent;
    background: transparent;
}

.personalized-input:active {
    border-bottom: 2px solid #126db5;
}

.personalized-input::placeholder {
    color: #bbb;
}

.button {
    max-width: 350px;
    width: 90%;
    font-weight: bold;
    font-size: 14pt;
    color: #126db5;
    background: transparent;
    padding: 5px;
    border: 1px solid #126db5;
    border-radius: 5px;
    margin: 15px;
}

.image {
    margin: auto;
    max-width: 80%;
    min-width: 200px;
    height: auto;
}

.personalized-input:focus {
    outline: transparent;
    border-bottom: 2px solid #126db5;
}

*:focus {
    background: rgba(255, 255, 255, 0.3);
    outline-color: #bbb;
}