/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-08-13 14:35:08
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-08-13 14:35:08
 */
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div {
  width: 50%;
}

input {
  font-size: 30px;
  width: 100%;
  padding: 15px;
  text-align: center;
  border: 5px solid rgba(0, 0, 0, .3);
}

.message {
  font: 20px Helvetica, Arial, Sans-serif;
  display: none;
  width: 100%;
  padding: 20px;
  color: #fff;
}

.error {
  background: red;
}

.success {
  background: green;
}