/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-06-30 08:30:15
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-08-06 07:21:23
 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f3f3f3;
}

button,
input {
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
}

p,
span,
a,
div,
input {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0px auto;
    height: 100%;
    transition: 0.3s;
}

header .container .logo {
    position: relative;
}

header .container .logo span:nth-of-type(1) {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

header .container .mobile_nav {
    margin: 1px 10px 0;
    display: none;
}

header .container .mobile_nav .burger {
    width: 19px;
    height: 19px;
    position: relative;
    overflow: hidden;
}

header .container .mobile_nav .burger:active .top,
header .container .mobile_nav .burger:focus .top,
header .container .mobile_nav .burger:hover .top {
    width: 60% !important;
}

header .container .mobile_nav .burger:active .middle,
header .container .mobile_nav .burger:focus .middle,
header .container .mobile_nav .burger:hover .middle {
    width: 70% !important;
}

header .container .mobile_nav .burger:active .bottom,
header .container .mobile_nav .burger:focus .bottom,
header .container .mobile_nav .burger:hover .bottom {
    width: 80% !important;
}

header .container .mobile_nav .burger .mobile_nav__label {
    margin: -10px 5px;
    width: 135px;
    position: absolute;
}

header .container .mobile_nav .burger .stripe {
    height: 4px;
    background: black;
    position: absolute;
    transition: 0.2s ease;
}

header .container .mobile_nav .burger .top {
    right: 0;
    top: 0;
    width: 100%;
}

header .container .mobile_nav .burger .middle {
    left: 0;
    top: 0;
    margin: 6.9px 0;
    width: 60%;
}

header .container .mobile_nav .burger .bottom {
    right: 0;
    top: 0;
    margin: 14px 0;
    width: 80%;
}

header .container .head_nav {
    margin: 0 50px;
    width: 100%;
}

header .container .head_nav ul {
    text-align: center;
}

header .container .head_nav ul .visited a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: black;
    margin: 15.5px 0;
    right: 0;
}

header .container .head_nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header .container .head_nav ul li a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px;
    position: relative;
}

header .container .head_nav ul li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background: black;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin: 15.5px 0;
    right: 0;
}

header .container .head_nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

header .container .icons {
    min-width: 85px;
}

header .container .icons a {
    margin: 0 5px 0;
    display: block;
    height: 27px;
    width: 27px;
}

header .container .icons a:hover svg {
    fill: #4c4c4c !important;
}

header .container .icons a:active svg {
    fill: #3F51B5 !important;
}

header .container .icons .block {
    display: inline-block;
}

header .container .icons svg {
    display: block;
    transition: 0.2s ease;
}

header {
    background: #FFF;
    height: 100px;
    position: relative;
}

.mobile_menu {
    background: black;
    width: 90%;
    height: 420px;
    top: 65px;
    left: 0;
    margin: 10px 20px;
    border-radius: 4px;
    position: absolute;
    display: none;
}

.mobile_menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #000000 transparent;
    margin: -10px 35px;
}

.mobile_menu nav {
    padding: 50px;
}

.mobile_menu nav ul .slide a {
    opacity: 1;
    position: relative;
    animation: hidecolor 0.8s ease;
}

.mobile_menu nav ul .slide a:before {
    content: "";
    position: absolute;
    background: #3F51B5;
    width: 0%;
    height: 35px;
    animation: slide 0.8s ease;
}

.mobile_menu nav ul li {
    margin: 30px 0px;
}

.mobile_menu nav ul li a {
    font-family: "Montserrat", sans-serif;
    opacity: 0;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0px;
    color: white;
}

@media only screen and (max-width: 1100px) {
    .mobile_menu {
        display: none;
    }

    header .container {
        width: 700px;
    }
}

@media only screen and (max-width: 800px) {
    .mobile_menu {
        display: none;
    }

    header {
        padding: 0 50px;
        height: 60px;
    }

    header .container {
        width: 100%;
    }

    header .container .icons a {
        width: 25px;
        height: 25px;
    }

    header .head_nav {
        display: none;
    }

    header .logo {
        width: 100%;
        text-align: center;
    }

    header .mobile_nav {
        cursor: pointer;
        display: block !important;
    }

    header .mobile_nav .stripe {
        width: 100% !important;
    }
}

@media only screen and (max-width: 500px) {
    header {
        padding: 0 20px;
    }

    header .logo span {
        font-size: 20px !important;
    }

    .mobile_menu {
        height: 295px;
    }

    .mobile_menu:before {
        margin: -10px 5px;
    }

    .mobile_menu nav {
        padding: 30px 50px;
    }

    .mobile_menu nav ul li {
        margin: 20px 0px;
    }

    .mobile_menu nav ul li a {
        font-size: 18px;
    }

    .mobile_menu nav ul li a:before {
        height: 23px !important;
    }
}

@keyframes slide {
    0% {
        width: 0;
        padding: 0px 10px;
        margin: 0px -5px;
    }

    80% {
        width: 105%;
        padding: 0px 10px;
        margin: 0px -5px;
    }

    100% {
        width: 0;
        padding: 0 0;
    }
}

@keyframes hidecolor {
    0% {
        color: black;
    }

    75% {
        color: black;
    }

    100% {
        color: white;
    }
}

/* Footer   */

/* .mainFooter {
    width: 100%;
    background-color: #666;
    float: left;
    /* height: 40px; 
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 2% 0;
}
*/
.mainFooter p {
    width: 92%;
    margin: 2% auto;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-07-21 12:51:28
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-07-21 12:55:39
 */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-primary hr {
    border-top-color: #9fcdff;
}

.alert-primary .alert-link {
    color: #002752;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-secondary hr {
    border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-warning hr {
    border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    color: #000;
    text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a.close.disabled {
    pointer-events: none;
}