	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/07/2020 12:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-people-interface-symbol-of-black-person-close-up-with-plus-sign-in-small-circle:before { content: "\f100"; }
.flaticon-login:before { content: "\f101"; }
.flaticon-man:before { content: "\f102"; }
.flaticon-man-1:before { content: "\f103"; }
.flaticon-login-1:before { content: "\f104"; }
.flaticon-exit:before { content: "\f105"; }
.flaticon-logout:before { content: "\f106"; }
.flaticon-logout-1:before { content: "\f107"; }