/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-07-27 09:31:02
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-07-27 09:31:02
 */
* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.post {
    display: -webkit-box;
    display: flex;
    width: 70%;
    margin: 50px auto;
    box-shadow: 0 5px 15px 0 #777;
}

.post-date {
    font-size: 13px;
    color: #bbb;
}

.post-author {
    color: #555;
}

.post-excerpt {
    letter-spacing: 1px;
    line-height: 1.33;
}

.post-image {
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 40%;
    width: auto;
    max-width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-image img {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.post-image-1 {
    background-image: url(https://images.freeimages.com/images/large-previews/bf4/the-road-through-the-woods-1449194.jpg);
}

.post-image-2 {
    background-image: url(https://images.freeimages.com/images/large-previews/7e9/ladybird-1367182.jpg);
}

.post-image-3 {
    background-image: url(https://images.freeimages.com/images/large-previews/ddb/corn-field-2-1368926.jpg);
}

.post-content {
    -webkit-box-flex: 0;
    flex: 0 0 60%;
    padding: 20px 30px;
}

.post-link {
    display: inline-block;
    margin: 0 0 15px;
    padding: 16px 48px;
    background: lightblue;
    color: #fff;
    text-decoration: none;
    border-radius: 4em;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.post-link:hover {
    background: #86c5da;
}

@media screen and (max-width: 1024px) {
    .post {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .post {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .post-image {
        height: 270px;
        max-width: 100%;
    }
}