/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-07-09 11:27:24
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-07-09 13:32:43
 */
/* body {
    background: whitesmoke;
    color: #666;
    font: 90%/180% sans-serif;
    width: 800px;
    max-width: 80%;
    margin: 2.5em auto;
} */

.searchfield {
	background: #ededed;
	border: 2px solid #cdcdcd;
	padding: 10px 0 10px 32px;
	width: 40px;
	border-radius: 5em;
	transition: all .5s;
	color: transparent;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
	outline: none;
	-webkit-appearance: textfield;
}

.searchfield:hover {
	background-color: #fff;
}

.searchfield:focus {
	width: 200px;
	padding-right: 36px;
	color: black;
	cursor: auto;
	background-color: white;
	border-color: rgb(182, 172, 171);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.searchfield::-webkit-search-decoration,
.searchfield::-webkit-search-cancel-button {
	display: none;
}

.searchfield:-moz-placeholder {
	color: transparent;
}

.searchfield::-webkit-input-placeholder {
	color: transparent;
}

.searchbox {
	position: relative;
}

.searchbox:before {
	content: "\f002";
	position: absolute;
	top: -5px;
	left: 0;
	font-family: FontAwesome;
	width: 40px;
	text-align: center;
	font-size: 1.5em;
	text-align: center;
	color: black;
	z-index: 2;
	pointer-events: none;
	color: #666;
}
