/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-08-28 21:12:10
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-08-28 21:12:43
 */
/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
}
