/*
 * @Author: Jahangir Ahmad
 * @Date:   2020-07-01 10:16:28
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2020-07-16 09:13:49
 */
h1 {
    text-align: center;
}

.toggles {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    clear: both;
    overflow: hidden;
    text-align: center;
}

button {
    border: 2px solid #e3e3e3;
    border-radius: 40px;
    background-color: #f5f5f5;
    display: inline-block;
    padding: 10px;
    width: 150px;
    overflow: visible;
    margin: 5px auto !important;
}

button:hover {
    color: #FFF;
    background-color: #000;
    border: 1px solid #000;
}

.covers {
    display: flex;
    flex-wrap: wrap;
    /* Creates rows */
    margin-left: 5%;
    margin-right: 5%;
}

.covers div {
    margin: 2%;
    padding-left: 10px;
}

.covers img {
    border: 1px solid #ddd;
    /*Gray border */
    border-radius: 4px;
    /*Rounded border */
    padding: 5px;
    width: 150px;
}

.covers #audio {
    width: 160px;
}