    /*
    Flaticon icon font: Flaticon
    Creation date: 25/07/2020 09:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-interface:before { content: "\f100"; }
.flaticon-category:before { content: "\f101"; }
.flaticon-businessman-talking-about-data-analysis:before { content: "\f102"; }
.flaticon-message:before { content: "\f103"; }
.flaticon-user:before { content: "\f104"; }
    
    $font-Flaticon-interface: "\f100";
    $font-Flaticon-category: "\f101";
    $font-Flaticon-businessman-talking-about-data-analysis: "\f102";
    $font-Flaticon-message: "\f103";
    $font-Flaticon-user: "\f104";